{%- comment -%}replo-liquid-chunk-begin{%- endcomment -%}
    <script id="replo-deps-section-settings" data-section-id="{{ section.id }}">{
      {%- assign replo_text_eb9c84c9-79e0-455b-994c-bf14198a3787 = section.settings['replo_text_eb9c84c9-79e0-455b-994c-bf14198a3787'] -%}
    {%- capture default_replo_text_eb9c84c9-79e0-455b-994c-bf14198a3787 -%}<p>Why active Aussies trust Dr. Woof</p>{%- endcapture -%}
    {%- assign replo_text_eb9c84c9-79e0-455b-994c-bf14198a3787 = replo_text_eb9c84c9-79e0-455b-994c-bf14198a3787 | default: default_replo_text_eb9c84c9-79e0-455b-994c-bf14198a3787 -%}
    "replo_text_eb9c84c9-79e0-455b-994c-bf14198a3787": {{ replo_text_eb9c84c9-79e0-455b-994c-bf14198a3787 | json }}, {%- assign replo_text_6674155f-fb47-4b78-b25f-ce82ccff1c1b = section.settings['replo_text_6674155f-fb47-4b78-b25f-ce82ccff1c1b'] -%}
    {%- capture default_replo_text_6674155f-fb47-4b78-b25f-ce82ccff1c1b -%}<p>Transform your space with our versatile collection of everyday essentials. Elevate your routine with essentials designed for comfort and simplicity.</p>{%- endcapture -%}
    {%- assign replo_text_6674155f-fb47-4b78-b25f-ce82ccff1c1b = replo_text_6674155f-fb47-4b78-b25f-ce82ccff1c1b | default: default_replo_text_6674155f-fb47-4b78-b25f-ce82ccff1c1b -%}
    "replo_text_6674155f-fb47-4b78-b25f-ce82ccff1c1b": {{ replo_text_6674155f-fb47-4b78-b25f-ce82ccff1c1b | json }}, {%- assign replo_text_e7417fca-f99e-4489-9cf4-3511815ee83a = section.settings['replo_text_e7417fca-f99e-4489-9cf4-3511815ee83a'] -%}
    {%- capture default_replo_text_e7417fca-f99e-4489-9cf4-3511815ee83a -%}<p>Graduated Compression</p>{%- endcapture -%}
    {%- assign replo_text_e7417fca-f99e-4489-9cf4-3511815ee83a = replo_text_e7417fca-f99e-4489-9cf4-3511815ee83a | default: default_replo_text_e7417fca-f99e-4489-9cf4-3511815ee83a -%}
    "replo_text_e7417fca-f99e-4489-9cf4-3511815ee83a": {{ replo_text_e7417fca-f99e-4489-9cf4-3511815ee83a | json }}, {%- assign replo_text_27865000-50d4-4edd-bc32-c98a3919081a = section.settings['replo_text_27865000-50d4-4edd-bc32-c98a3919081a'] -%}
    {%- capture default_replo_text_27865000-50d4-4edd-bc32-c98a3919081a -%}<p>15–20 mmHg of targeted compression improves blood flow and oxygen delivery, keeping your legs feeling fresh for longer. Push harder during your session and bounce back faster afterwards.</p>{%- endcapture -%}
    {%- assign replo_text_27865000-50d4-4edd-bc32-c98a3919081a = replo_text_27865000-50d4-4edd-bc32-c98a3919081a | default: default_replo_text_27865000-50d4-4edd-bc32-c98a3919081a -%}
    "replo_text_27865000-50d4-4edd-bc32-c98a3919081a": {{ replo_text_27865000-50d4-4edd-bc32-c98a3919081a | json }}, {%- assign replo_text_7a67d64e-900b-46a1-88fe-d5eea311a11b = section.settings['replo_text_7a67d64e-900b-46a1-88fe-d5eea311a11b'] -%}
    {%- capture default_replo_text_7a67d64e-900b-46a1-88fe-d5eea311a11b -%}<p>Anatomical Fit</p>{%- endcapture -%}
    {%- assign replo_text_7a67d64e-900b-46a1-88fe-d5eea311a11b = replo_text_7a67d64e-900b-46a1-88fe-d5eea311a11b | default: default_replo_text_7a67d64e-900b-46a1-88fe-d5eea311a11b -%}
    "replo_text_7a67d64e-900b-46a1-88fe-d5eea311a11b": {{ replo_text_7a67d64e-900b-46a1-88fe-d5eea311a11b | json }}, {%- assign replo_text_bd0f26c7-4806-47b3-a4fb-5e4524caa0c9 = section.settings['replo_text_bd0f26c7-4806-47b3-a4fb-5e4524caa0c9'] -%}
    {%- capture default_replo_text_bd0f26c7-4806-47b3-a4fb-5e4524caa0c9 -%}<p>Shaped to follow the natural contours of your feet for a snug, supportive fit. No slipping, no bunching, just a locked-in feel that moves with you every step of the way.</p>{%- endcapture -%}
    {%- assign replo_text_bd0f26c7-4806-47b3-a4fb-5e4524caa0c9 = replo_text_bd0f26c7-4806-47b3-a4fb-5e4524caa0c9 | default: default_replo_text_bd0f26c7-4806-47b3-a4fb-5e4524caa0c9 -%}
    "replo_text_bd0f26c7-4806-47b3-a4fb-5e4524caa0c9": {{ replo_text_bd0f26c7-4806-47b3-a4fb-5e4524caa0c9 | json }}, {%- assign replo_text_1f676e0d-20c8-4b9b-b211-3060b95b231b = section.settings['replo_text_1f676e0d-20c8-4b9b-b211-3060b95b231b'] -%}
    {%- capture default_replo_text_1f676e0d-20c8-4b9b-b211-3060b95b231b -%}<p>Arch Support</p>{%- endcapture -%}
    {%- assign replo_text_1f676e0d-20c8-4b9b-b211-3060b95b231b = replo_text_1f676e0d-20c8-4b9b-b211-3060b95b231b | default: default_replo_text_1f676e0d-20c8-4b9b-b211-3060b95b231b -%}
    "replo_text_1f676e0d-20c8-4b9b-b211-3060b95b231b": {{ replo_text_1f676e0d-20c8-4b9b-b211-3060b95b231b | json }}, {%- assign replo_text_a648e811-66ac-4a9c-8d54-13bfcc939e90 = section.settings['replo_text_a648e811-66ac-4a9c-8d54-13bfcc939e90'] -%}
    {%- capture default_replo_text_a648e811-66ac-4a9c-8d54-13bfcc939e90 -%}<p>Targeted arch compression gives your feet a stable base for every stride, lift or climb. More control, less fatigue, and support that adapts as you move.</p>{%- endcapture -%}
    {%- assign replo_text_a648e811-66ac-4a9c-8d54-13bfcc939e90 = replo_text_a648e811-66ac-4a9c-8d54-13bfcc939e90 | default: default_replo_text_a648e811-66ac-4a9c-8d54-13bfcc939e90 -%}
    "replo_text_a648e811-66ac-4a9c-8d54-13bfcc939e90": {{ replo_text_a648e811-66ac-4a9c-8d54-13bfcc939e90 | json }}, {%- assign replo_text_86279ddb-35f8-4faa-835c-744a7c47c800 = section.settings['replo_text_86279ddb-35f8-4faa-835c-744a7c47c800'] -%}
    {%- capture default_replo_text_86279ddb-35f8-4faa-835c-744a7c47c800 -%}<p>Reinforced Toe &amp; Heel Cushioning</p>{%- endcapture -%}
    {%- assign replo_text_86279ddb-35f8-4faa-835c-744a7c47c800 = replo_text_86279ddb-35f8-4faa-835c-744a7c47c800 | default: default_replo_text_86279ddb-35f8-4faa-835c-744a7c47c800 -%}
    "replo_text_86279ddb-35f8-4faa-835c-744a7c47c800": {{ replo_text_86279ddb-35f8-4faa-835c-744a7c47c800 | json }}, {%- assign replo_text_9ff31723-557b-4c53-a3aa-8cc2e9feee9f = section.settings['replo_text_9ff31723-557b-4c53-a3aa-8cc2e9feee9f'] -%}
    {%- capture default_replo_text_9ff31723-557b-4c53-a3aa-8cc2e9feee9f -%}<p>Extra padding at the toe and heel protects high-friction zones, keeping your feet comfortable and blister-free through long runs, rides or training sessions.</p>{%- endcapture -%}
    {%- assign replo_text_9ff31723-557b-4c53-a3aa-8cc2e9feee9f = replo_text_9ff31723-557b-4c53-a3aa-8cc2e9feee9f | default: default_replo_text_9ff31723-557b-4c53-a3aa-8cc2e9feee9f -%}
    "replo_text_9ff31723-557b-4c53-a3aa-8cc2e9feee9f": {{ replo_text_9ff31723-557b-4c53-a3aa-8cc2e9feee9f | json }}, {%- assign replo_text_416a0e03-3835-4d18-b93a-6e402bdc4df6 = section.settings['replo_text_416a0e03-3835-4d18-b93a-6e402bdc4df6'] -%}
    {%- capture default_replo_text_416a0e03-3835-4d18-b93a-6e402bdc4df6 -%}<p>Why active Aussies trust Dr. Woof</p>{%- endcapture -%}
    {%- assign replo_text_416a0e03-3835-4d18-b93a-6e402bdc4df6 = replo_text_416a0e03-3835-4d18-b93a-6e402bdc4df6 | default: default_replo_text_416a0e03-3835-4d18-b93a-6e402bdc4df6 -%}
    "replo_text_416a0e03-3835-4d18-b93a-6e402bdc4df6": {{ replo_text_416a0e03-3835-4d18-b93a-6e402bdc4df6 | json }}, {%- assign replo_text_ecdf373a-710f-4079-9fff-4b4f0c43c90e = section.settings['replo_text_ecdf373a-710f-4079-9fff-4b4f0c43c90e'] -%}
    {%- capture default_replo_text_ecdf373a-710f-4079-9fff-4b4f0c43c90e -%}<p>Transform your space with our versatile collection of everyday essentials. Elevate your routine with essentials designed for comfort and simplicity.</p>{%- endcapture -%}
    {%- assign replo_text_ecdf373a-710f-4079-9fff-4b4f0c43c90e = replo_text_ecdf373a-710f-4079-9fff-4b4f0c43c90e | default: default_replo_text_ecdf373a-710f-4079-9fff-4b4f0c43c90e -%}
    "replo_text_ecdf373a-710f-4079-9fff-4b4f0c43c90e": {{ replo_text_ecdf373a-710f-4079-9fff-4b4f0c43c90e | json }}, {%- assign replo_text_fd35195c-9f75-4ae2-bbe6-14a28a290982 = section.settings['replo_text_fd35195c-9f75-4ae2-bbe6-14a28a290982'] -%}
    {%- capture default_replo_text_fd35195c-9f75-4ae2-bbe6-14a28a290982 -%}<p>Graduated Compression</p>{%- endcapture -%}
    {%- assign replo_text_fd35195c-9f75-4ae2-bbe6-14a28a290982 = replo_text_fd35195c-9f75-4ae2-bbe6-14a28a290982 | default: default_replo_text_fd35195c-9f75-4ae2-bbe6-14a28a290982 -%}
    "replo_text_fd35195c-9f75-4ae2-bbe6-14a28a290982": {{ replo_text_fd35195c-9f75-4ae2-bbe6-14a28a290982 | json }}, {%- assign replo_text_771c31d1-b7b5-454b-95ee-2485d4a0004f = section.settings['replo_text_771c31d1-b7b5-454b-95ee-2485d4a0004f'] -%}
    {%- capture default_replo_text_771c31d1-b7b5-454b-95ee-2485d4a0004f -%}<p>15–20 mmHg of targeted compression improves blood flow and oxygen delivery, keeping your legs feeling fresh for longer. Push harder during your session and bounce back faster afterwards.</p>{%- endcapture -%}
    {%- assign replo_text_771c31d1-b7b5-454b-95ee-2485d4a0004f = replo_text_771c31d1-b7b5-454b-95ee-2485d4a0004f | default: default_replo_text_771c31d1-b7b5-454b-95ee-2485d4a0004f -%}
    "replo_text_771c31d1-b7b5-454b-95ee-2485d4a0004f": {{ replo_text_771c31d1-b7b5-454b-95ee-2485d4a0004f | json }}, {%- assign replo_text_8268d7c9-0bf7-4e3f-8c14-4331897806b8 = section.settings['replo_text_8268d7c9-0bf7-4e3f-8c14-4331897806b8'] -%}
    {%- capture default_replo_text_8268d7c9-0bf7-4e3f-8c14-4331897806b8 -%}<p>Anatomical Fit</p>{%- endcapture -%}
    {%- assign replo_text_8268d7c9-0bf7-4e3f-8c14-4331897806b8 = replo_text_8268d7c9-0bf7-4e3f-8c14-4331897806b8 | default: default_replo_text_8268d7c9-0bf7-4e3f-8c14-4331897806b8 -%}
    "replo_text_8268d7c9-0bf7-4e3f-8c14-4331897806b8": {{ replo_text_8268d7c9-0bf7-4e3f-8c14-4331897806b8 | json }}, {%- assign replo_text_6c401324-1e21-465d-8121-bc170ddbae23 = section.settings['replo_text_6c401324-1e21-465d-8121-bc170ddbae23'] -%}
    {%- capture default_replo_text_6c401324-1e21-465d-8121-bc170ddbae23 -%}<p>Shaped to follow the natural contours of your feet for a snug, supportive fit. No slipping, no bunching, just a locked-in feel that moves with you every step of the way.</p>{%- endcapture -%}
    {%- assign replo_text_6c401324-1e21-465d-8121-bc170ddbae23 = replo_text_6c401324-1e21-465d-8121-bc170ddbae23 | default: default_replo_text_6c401324-1e21-465d-8121-bc170ddbae23 -%}
    "replo_text_6c401324-1e21-465d-8121-bc170ddbae23": {{ replo_text_6c401324-1e21-465d-8121-bc170ddbae23 | json }}, {%- assign replo_text_fe119ccc-5561-4569-9a8c-5717e438f2c8 = section.settings['replo_text_fe119ccc-5561-4569-9a8c-5717e438f2c8'] -%}
    {%- capture default_replo_text_fe119ccc-5561-4569-9a8c-5717e438f2c8 -%}<p>Arch Support</p>{%- endcapture -%}
    {%- assign replo_text_fe119ccc-5561-4569-9a8c-5717e438f2c8 = replo_text_fe119ccc-5561-4569-9a8c-5717e438f2c8 | default: default_replo_text_fe119ccc-5561-4569-9a8c-5717e438f2c8 -%}
    "replo_text_fe119ccc-5561-4569-9a8c-5717e438f2c8": {{ replo_text_fe119ccc-5561-4569-9a8c-5717e438f2c8 | json }}, {%- assign replo_text_e74ec7a5-bae5-4183-9a9a-c1fb73dbfa31 = section.settings['replo_text_e74ec7a5-bae5-4183-9a9a-c1fb73dbfa31'] -%}
    {%- capture default_replo_text_e74ec7a5-bae5-4183-9a9a-c1fb73dbfa31 -%}<p>Targeted arch compression gives your feet a stable base for every stride, lift or climb. More control, less fatigue, and support that adapts as you move.</p>{%- endcapture -%}
    {%- assign replo_text_e74ec7a5-bae5-4183-9a9a-c1fb73dbfa31 = replo_text_e74ec7a5-bae5-4183-9a9a-c1fb73dbfa31 | default: default_replo_text_e74ec7a5-bae5-4183-9a9a-c1fb73dbfa31 -%}
    "replo_text_e74ec7a5-bae5-4183-9a9a-c1fb73dbfa31": {{ replo_text_e74ec7a5-bae5-4183-9a9a-c1fb73dbfa31 | json }}, {%- assign replo_text_94d25dd2-6990-4e23-80f4-cc6c629ddff3 = section.settings['replo_text_94d25dd2-6990-4e23-80f4-cc6c629ddff3'] -%}
    {%- capture default_replo_text_94d25dd2-6990-4e23-80f4-cc6c629ddff3 -%}<p>Reinforced Toe &amp; Heel Cushioning</p>{%- endcapture -%}
    {%- assign replo_text_94d25dd2-6990-4e23-80f4-cc6c629ddff3 = replo_text_94d25dd2-6990-4e23-80f4-cc6c629ddff3 | default: default_replo_text_94d25dd2-6990-4e23-80f4-cc6c629ddff3 -%}
    "replo_text_94d25dd2-6990-4e23-80f4-cc6c629ddff3": {{ replo_text_94d25dd2-6990-4e23-80f4-cc6c629ddff3 | json }}, {%- assign replo_text_78ded13b-0e21-4908-982b-98db814e29e6 = section.settings['replo_text_78ded13b-0e21-4908-982b-98db814e29e6'] -%}
    {%- capture default_replo_text_78ded13b-0e21-4908-982b-98db814e29e6 -%}<p>Extra padding at the toe and heel protects high-friction zones, keeping your feet comfortable and blister-free through long runs, rides or training sessions.</p>{%- endcapture -%}
    {%- assign replo_text_78ded13b-0e21-4908-982b-98db814e29e6 = replo_text_78ded13b-0e21-4908-982b-98db814e29e6 | default: default_replo_text_78ded13b-0e21-4908-982b-98db814e29e6 -%}
    "replo_text_78ded13b-0e21-4908-982b-98db814e29e6": {{ replo_text_78ded13b-0e21-4908-982b-98db814e29e6 | json }}
    }</script>
  {%- comment -%}replo-liquid-chunk-end{%- endcomment -%}