<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <script>
      window.Shopify = window.Shopify || {theme: {id: {{ theme.id }}, role: '{{ theme.role }}' } };
      window._template = {
          directory: "{{ template.directory }}",
          name: "{{ template.name }}",
          suffix: "{{ template.suffix }}"
      };
    </script>
    {% comment %}
      {% render 'intelligems' %}
    {% endcomment %}
    {% render 'replo-head' %}
    {% render 'breadcrumb_schema' %}

    {% if template == 'product' %}
      <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
      <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    {% endif %}
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel='preconnect dns-prefetch' href='https://api.config-security.com/' crossorigin />
    <link rel='preconnect dns-prefetch' href='https://conf.config-security.com/' crossorigin />
    
    {% if handle contains 'seq=uniform' %}
      <meta name="robots" content="noindex">
    {% endif %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.color_button }}">
    <meta name="google-site-verification" content="qIJjJ8TSodfH1-JUNmujbRPjeW0Nu5LPh3PJmtfL24Y" />

    <link rel="canonical" href="{{ canonical_url }}">
    
    {%- if settings.favicon -%}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
    {%- endif -%}
    
    <!-- <title>Dr. Woof Apparel | Premium Scrubs & Accessories</title> -->
    {% render 'custom-meta' %}
    {% include 'social-meta-tags' %}
    {% include 'critical-css' %}
    {{ content_for_header }}
    {% render 'headcodes' %}
    {% if template != 'index' %}
    <script src="{{ 'jquery351.js' | asset_url }}"></script>
    {% endif %}
  </head>
  
  <body data-instant-intensity="viewport" class="{{ template }} {{ template.suffix }} {% if template == 'product.preorder' %}Body_preorder_Template {% endif %} template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}{% if settings.cart_type == 'sticky' and cart.item_count > 0 and template != 'cart' %} body--sticky-cart-open{% endif %}{% if cart.item_count > 0 %} cart-has-items{% endif %}" data-transitions="{{ settings.animate_page_transitions }}" ontouchstart="return true;">
    <!-- insert notcatalog here -->
    <!-- insert klarna here -->
    <!-- insert overscrollLoader here -->    
    {% render 'notcatalogredirect' %}
    {% render 'klarna' %}
    {% render 'overscrollLoader' %}
    
    <div class="root">
      {% render 'loader' %}
      <!-- insert loader here -->
      <a class="in-page-link visually-hidden skip-link" href="#MainContent" style="display:none !important;">{{ 'general.accessibility.skip_to_content' | t }}</a>
      <div id="PageContainer" class="page-container">
        <div class="transition-body">
          {% section 'header' %}          
          <main class="main-content" id="MainContent">
            {{ content_for_layout }}
          </main>          
          {% section 'social' %}
          {{ shop.metafields.loox["global_html_body"] }}
          {% section 'footer' %}
        </div>
      </div>
      <!-- insert embroidery here -->
       {% render 'embroidery' %}
    </div> <!-- root -->
    <div id="ProductScreens"></div>    
    {% if settings.cart_type == 'drawer' %}
      {% include 'cart-drawer' %}
    {% endif %}   
    <!-- Critical for loader -->
    {% include 'load-css' %}
    {% render 'scripts' %}    
    {% render 'includes' %}
    {% render 'styles' %}
    
    {{ content_for_footer }}
    {% render 'javascripts' %}

    {% if product.type == 'Compression Socks' or product.type == 'Performance Compression Socks' %}
      {% include 'sizeguidesocks' %}
    {% endif %}
    {% if product.type == 'Surgical Scrub Cap' %}
      {% include 'sizeguidecaps' %}
    {% endif %}


  </body>
</html>