<!-- sections/product-template-new-sock -->
  <script src="//www.drwoofapparel.com/cdn/shop/t/353/assets/jquery351.js?v=60938658743091704111765248882"></script>
 <script type="text/javascript" src="slick/slick.min.js"></script>
{% include 'product-template-new-sock',
  section_id: product.id,

  product_shipping_callout: section.settings.product_shipping_callout,
  product_image_size: section.settings.product_image_size,
  product_image_type: section.settings.product_image_type,
  product_zoom_enable: section.settings.product_zoom_enable,
  variant_type: section.settings.variant_type,
  variant_labels_enable: section.settings.variant_labels_enable,
  sku_enable: section.settings.sku_enable,
  quantity_enable: section.settings.quantity_enable,
  inventory_enable: section.settings.inventory_enable,
  inventory_threshold: section.settings.inventory_threshold,
  inventory_transfers_enable: section.settings.inventory_transfers_enable,
  enable_payment_button: section.settings.enable_payment_button,
  social_enable: section.settings.social_enable,
  video_looping: section.settings.enable_video_looping,
  video_style: section.settings.product_video_style
%}

<style>
  .main-textamonials{
    margin-bottom:0 !important;
  }
  span.size-desc {
    font-size: 16px;
}
</style>

{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
      "type":"text",
        "id":"sockpreorderdate",
        "default":"Oct 30",
        "label":"Sock preorder date"
      },
            {
        "type": "header",
        "content": "Custom text content"
      }, 
          {
      "type": "text",
      "id": "trust_badge_text",
      "label": "Trust Badge Text",
      "default": "Trusted by Aussie Nurses & Doctors"
    },
    {
      "type": "textarea",
      "id": "product_description_text",
      "label": "Product Description",
      "default": "Compression socks originally designed by a family of doctors. Boost circulation, prevent swelling & DVT, and support all-day energy with fun designs."
    },
    {
      "type": "textarea",
      "id": "preorder_text",
      "label": "Preorder Text",
      "default": "Pre-order now to secure your preferred design. Your entire order will ship once this item becomes available. Thanks for your patience!"
    },
      {
        "type": "header",
        "content": "Caps A/B testing"
      }, 
      {
        "type": "checkbox",
        "id": "abtestnoicons",
        "label": "Enable AB test no icons",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "abtestdavideo",
        "label": "Enable video below atc",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "enable_ab_size",
        "label": "Enable caps A/B testing for sizing",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "abtesting1",
        "label": "Enable ab testing 1",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "abtesting2",
        "label": "Enable Freeset Offer",
        "default": false
      },
      {
        "type": "image_picker",
        "id": "freesetcap",
        "label": "Freeset caps image"
      },
      {
        "type": "checkbox",
        "id": "dark_theme",
        "label": "Dark Theme"
      },
      {
        "type": "header",
        "content": "Media"
      },
      {
        "type": "select",
        "id": "product_image_size",
        "label": "Image size",
        "default": "large",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large (Women 12-15 | Men 10-13) "
          }
        ]
      },
      {
        "type": "select",
        "id": "product_image_type",
        "label": "Image style",
        "default": "stacked",
        "options": [
          {
            "value": "stacked",
            "label": "Stacked"
          },
          {
            "value": "slider",
            "label": "Fade"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "product_zoom_enable",
        "label": "Enable image zoom",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "enable_video_looping",
        "label": "Enable video looping",
        "default": true
      },
      {
        "type": "select",
        "id": "product_video_style",
        "label": "Video style",
        "default": "muted",
        "options": [
          {
            "value": "muted",
            "label": "Video without sound"
          },
          {
            "value": "unmuted",
            "label": "Video with sound"
          }
        ],
        "info": "Video with sound will not autoplay"
      },
      {
        "type": "header",
        "content": "Product settings"
      },
      {
        "type": "checkbox",
        "id": "enable_payment_button",
        "label": "Show dynamic checkout button",
        "info": "Lets customers check out directly using a familiar payment method. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "default": true
      },
      {
        "type": "text",
        "id": "product_shipping_callout",
        "label": "Callout text",
        "info": "E.g. Free shipping + returns"
      },
      {
        "type": "select",
        "id": "variant_type",
        "label": "Variant picker style",
        "default": "button",
        "options": [
          {
            "value": "button",
            "label": "Buttons"
          },
          {
            "value": "dropdown",
            "label": "Dropdown"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "variant_labels_enable",
        "label": "Show variant labels",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "sku_enable",
        "label": "Show SKU"
      },
      {
        "type": "checkbox",
        "id": "inventory_enable",
        "label": "Show inventory notice"
      },
      {
        "type": "range",
        "id": "inventory_threshold",
        "label": "Inventory threshold",
        "default": 10,
        "min": 0,
        "max": 20,
        "step": 2
      },
      {
        "type": "checkbox",
        "id": "inventory_transfers_enable",
        "label": "Show inventory transfer notice",
        "info": "Learn how to create inventory transfers [here](https://help.shopify.com/en/manual/products/inventory/transfers/create-transfer)"
      },
      {
        "type": "checkbox",
        "id": "quantity_enable",
        "label": "Show quantity field"
      },
      {
        "type": "checkbox",
        "id": "social_enable",
        "label": "Enable social sharing",
        "default": true
      },
      {
      "type": "color",
       "id": "color_link",
      "label": "Background-color",
       "default": "#2980b9"
   },
    {
     "type":"image_picker",
     "id":"img1",
     "label":"Add_Icons"
  },
  {
   "type":"text",
     "id":"txt",
     "label":"Add_text"
  },


  {
     "type":"image_picker",
     "id":"img2",
     "label":"Add_Icons"
  },
  {
   "type":"text",
     "id":"loved",
     "label":"Loved by: text",
     "default":"Loved by 90,000+ Aussie Nurses & Doctors"
  },
  {
   "type":"text",
     "id":"txt_",
     "label":"Add_text"
  },

  
  
    {
     "type":"image_picker",
     "id":"img3",
     "label":"Add_Icons"
  },
  {
   "type":"text",
     "id":"txt1",
     "label":"Add_text"
  },
  {
   "type":"text",
     "id":"txt2",
     "label":"Standard Shipping"
  },
  {
   "type":"text",
     "id":"txt3",
     "label":"Scrub Caps"
  },
  {
   "type":"text",
     "id":"txt4",
     "label":"Women’s Underscrubs"
  },{
   "type":"text",
     "id":"txt5",
     "label":"Men’s Underscrubs "
  },{
   "type":"text",
     "id":"txt6",
     "label":"Socks"
  },{
   "type":"text",
     "id":"txt7",
     "label":"Charms"
  },{
   "type":"text",
     "id":"txt8",
     "label":"Women’s Scrub Tops"
  },{
   "type":"text",
     "id":"txt9",
     "label":"Women’s Scrub Pants "
  },{
   "type":"text",
     "id":"txt10",
     "label":"Men’s Scrub Tops"
  },{
   "type":"text",
     "id":"txt11",
     "label":"Men’s Scrub pants"
  }
  
],
  "blocks": [
    {
      "type": "category_filter",
      "name": "Category Button",
      "settings": [
        {
          "type": "text",
          "id": "category_label",
          "label": "Category Label",
          "default": "All"
        },
        {
          "type": "text", 
          "id": "category_value",
          "label": "Category Value",
          "info": "Used for data-category attribute",
          "default": "all"
        },
        {
          "type": "checkbox",
          "id": "is_active",
          "label": "Active by default",
          "default": false
        },
        {
          "type": "number",
          "id": "item_count",
          "label": "Item Count",
          "info": "Leave empty to hide count"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product pages",
      "blocks": [
        {
          "type": "category_filter",
          "settings": {
            "category_label": "All",
            "category_value": "all",
            "is_active": true,
            "item_count": 61
          }
        },
        {
          "type": "category_filter",
          "settings": {
            "category_label": "Animals",
            "category_value": "animals"
          }
        },
        {
          "type": "category_filter",
          "settings": {
            "category_label": "Nature",
            "category_value": "nature"
          }
        }
      ]
    }
  ]
}
{% endschema %}
{% comment %}
{% if product.metafields.loox.num_reviews %}
  
<script id="looxSchemaJson" type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "Product",
	"@id": {{ canonical_url | json }},
	"aggregateRating": {
		"@type": "AggregateRating",
		"ratingValue": "{{ product.metafields.loox.avg_rating }}",
		"reviewCount": "{{ product.metafields.loox.num_reviews }}"
	},
	"name": {{ product.title | json }}
}
</script>
{% endif %}
{% endcomment %}

	 {% comment %} <div id="looxReviews" data-product-id="{{product.id}}" class="loox-reviews-default">{{ product.metafields.loox.reviews }}</div> {% endcomment %}